.StatsTable {
    border-collapse: collapse;
    text-align: right;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}

.StatsTable thead {
    text-align: center;
    border-bottom: 2px solid gray;
}

.StatsTable td,
.StatsTable th {
    padding: 3px 10px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.StatsTable td:first-child,
.StatsTable td:last-child,
.StatsTable th:first-child,
.StatsTable th:last-child {
    border-left: none;
    border-right: none;
}

.StatsTable tfoot {
    border-top: 2px solid gray;
}