.RefreshButton .icon.spin {
    animation-duration: 2s;
    animation-name: spin;
    animation-iteration-count: infinite;
    display: inline-block;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}