.Button {
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.Button:hover {
    background-color: #EEE;
}

.Button:active {
    background-color: #CCC;
}

.Button:disabled {
    cursor: not-allowed;
}
