.App-header {
  background-color: #222;
  height: 80px;
  color: white;
}

.App-content {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.App-content-header {
  display: flex;
  justify-content: space-between;
}
